<ion-tabs>
  <ion-tab-bar slot="top" color="success">
    <ion-tab-button tab="help" routerLink="/tabs/helper">
      <ion-icon name="help-circle-outline"></ion-icon>
      <ion-label>Help</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="home" routerLink="/tabs/main">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inbox" routerLink="/tabs/inbox">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Inbox</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
