ion-header {
    --background: #32cd32; /* Hijau */
    color: white;
  }
  
  .search-container {
    padding: 10px;
  }
  
  .tracking-item {
    margin-top: 10px;
  }
  
  .tracking-icon {
    font-size: 24px;
    color: black;
  }
  
  .tracking-text {
    font-size: 16px;
    font-weight: bold;
  }
  
  ion-item {
    --background: #ffffff; /* Warna background item */
    --border-color: blue; /* Warna garis kotak */
  }
  