.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f9f9f9;

  .icon-container {
    margin-bottom: 20px;

    .location-icon {
      font-size: 48px;
      color: black;
    }
  }

  .login-card {
    width: 90%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    ion-item {
      --background: transparent;
      --border-radius: 8px;
      --padding-start: 8px;
      margin-bottom: 10px;

      ion-icon {
        color: gray;
      }

      ion-input {
        font-size: 14px;
      }
    }
  }

  .login-button {
    width: 90%;
    --border-radius: 8px;
    margin: 10px 0;
    font-weight: bold;
    color: white;
  }

  .forgot-password-container {
    margin-top: 10px;

    a {
      color: #007bff;
      text-decoration: underline;
      font-size: 14px;
    }
  }
}
